@import url("https://fonts.googleapis.com/css2?family=Gloock:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --subtext: Fredoka;
  --heading-1: Gloock;
  --m3-label-large: Roboto;

  /* font sizes */
  --text-size: 15px;
  --subtext-size: 20px;
  --font-size-base: 16px;
  --heading-1-size: 52px;
  --font-size-12xl: 31px;
  --font-size-23xl: 42px;
  --font-size-21xl: 40px;
  --font-size-5xl: 24px;
  --m3-headline-large-size: 32px;
  --font-size-9xl: 28px;
  --font-size-3xl: 22px;
  --font-size-xs: 12px;
  --font-size-7xl: 26px;
  --font-size-lgi: 19px;
  --m3-label-large-size: 14px;

  /* Colors */
  --color-white: #fff;
  --color-gray-100: #807e7f;
  --schemes-on-surface: #1d1b20;
  --color-gray-200: rgba(0, 0, 0, 0.5);
  --color-gray-300: rgba(0, 0, 0, 0.1);
  --color-gray-400: rgba(0, 0, 0, 0.05);
  --color-black: #000;
  --color-seagreen: #02633e;
  --color-darkseagreen: #bedebd;
  --color-gainsboro: rgba(217, 217, 217, 0.5);
  --schemes-on-surface-variant: #49454f;
  --m3-sys-light-primary: #65558f;
  --m3-sys-light-surface-container-high: #ece6f0;

  /* Gaps */
  --gap-41xl: 60px;
  --gap-11xl: 30px;
  --gap-5xl: 24px;
  --gap-xl: 20px;
  --gap-2xl: 21px;
  --gap-5xs: 8px;
  --gap-16xl-5: 35.5px;
  --gap-8xl: 27px;
  --gap-21xl: 40px;
  --gap-mini: 15px;
  --gap-base: 16px;
  --gap-25xl: 44px;
  --gap-3xl: 22px;
  --gap-11xl-3: 30.3px;
  --gap-24xl: 43px;
  --gap-16xl: 35px;
  --gap-mid: 17px;
  --gap-17xl: 36px;
  --gap-507xl: 526px;
  --gap-112xl: 131px;
  --gap-244xl: 263px;
  --gap-9xs: 4px;
  --gap-119xl: 138px;
  --gap-50xl: 69px;
  --gap-37xl: 56px;
  --gap-9xl: 28px;
  --gap-4xl: 23px;

  /* Paddings */
  --padding-12xs-5: 0.5px;
  --padding-xl: 20px;
  --padding-49xl: 68px;
  --padding-sm: 14px;
  --padding-mini: 15px;
  --padding-51xl: 70px;
  --padding-80xl-5: 99.5px;
  --padding-41xl: 60px;
  --padding-476xl: 495px;
  --padding-445xl: 464px;
  --padding-477xl: 496px;
  --padding-20xl: 39px;
  --padding-228xl: 247px;
  --padding-283xl: 302px;
  --padding-229xl: 248px;
  --padding-4xl-5: 23.5px;
  --padding-37xl: 56px;
  --padding-9xl: 28px;
  --padding-smi-5: 12.5px;
  --padding-3xs: 10px;
  --padding-6xl: 25px;
  --padding-4xs: 9px;
  --padding-151xl: 170px;
  --padding-66xl: 85px;
  --padding-23xl: 42px;
  --padding-97xl: 116px;
  --padding-base: 16px;
  --padding-2xs: 11px;
  --padding-54xl: 73px;
  --padding-28xl: 47px;
  --padding-xs: 12px;
  --padding-9xs: 4px;
  --padding-305xl: 324px;
  --padding-143xl: 162px;
  --padding-62xl: 81px;
  --padding-10xs-5: 2.5px;
  --padding-187xl: 206px;
  --padding-84xl: 103px;
  --padding-102xl-5: 121.5px;
  --padding-60xl: 79px;
  --padding-7xs: 6px;
  --padding-lg: 18px;
  --padding-192xl: 211px;
  --padding-86xl: 105px;
  --padding-6xs: 7px;
  --padding-5xs: 8px;
  --padding-11xl: 30px;
  --padding-87xl: 106px;
  --padding-137xl: 156px;
  --padding-138xl: 157px;
  --padding-59xl: 78px;
  --padding-5xl: 24px;
  --padding-27xl: 46px;
  --padding-306xl: 325px;
  --padding-307xl: 326px;
  --padding-144xl: 163px;
  --padding-69xl: 88px;
  --padding-44xl: 63px;
  --padding-116xl: 135px;
  --padding-251xl: 270px;
  --padding-10xs: 3px;
  --padding-105xl: 124px;
  --padding-12xs: 1px;
  --padding-7xl: 26px;
  --padding-73xl: 92px;
  --padding-3xl: 22px;
  --padding-7xs-1: 5.1px;
  --padding-21xl: 40px;
  --padding-61xl: 80px;
  --padding-33xl: 52px;

  /* Border radiuses */
  --br-8xs: 5px;
  --br-3xs: 10px;
  --br-7xs: 6px;
  --br-31xl: 50px;
  --br-9xs: 4px;
  --br-81xl: 100px;
  --br-9xl: 28px;
  --br-13xl: 32px;
}
